version: '3.8'

services:
  bot:
    build: .
    container_name: youtube-live-bot
    env_file:
      - .env
    volumes:
      - ./storage:/app/storage
    restart: unless-stopped
    environment:
      - STORAGE_PATH=/app/storage/
