python-telegram-bot==20.7
ffmpeg-python==0.2.0
yt-dlp>=2024.07.01
google-api-python-client==2.108.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
psutil==5.9.6
aiohttp>=3.9.4
python-dotenv==1.0.0
